# Gradle files
.gradle/
build/
/*/build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio
*.iml
.idea
/captures

# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

# Keystore
release.keystore